body, html {
  padding: 0;
  margin: 0;
  background-color: #20608b;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#organiserBox {
  margin: 40vh 20vw 0 20vw;

  text-align: center;
  background-color: #353535;
  color: hsl(0, 0%, 100%);
  
  border-radius: 10px;
  padding: 1em;
}

#something-went-wrong {
  display: none;
  background-color: red;
  border: 1px solid lightcoral;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

